Repository harry118/typescript-react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --ignore-unknown --write, npx prettier --write

feat: 升级优化
  .cz-config.js
  .eslintignore
  .eslintrc.js
  commitlint.config.js
  config/webpackDevServerConfig.ts
  jest.config.js
  package.json
  scripts/build.ts
  scripts/start.ts
  scripts/test.ts
  src/__tests__/add.test.ts
  src/images.d.ts
  src/index.d.ts
  src/index.tsx
  src/pages/About/index.tsx
  src/pages/App.tsx
  src/pages/Home/index.tsx
  src/pages/Login/index.tsx
  src/router/index.tsx
  src/typings/index.d.ts
  src/utils/index.ts
  tsconfig.json
Due: eslint, prettier --ignore-unknown --write

feat: build script
  .env.local
  .eslintrc.js
  .gitignore
  .vscode/launch.json
  config/env.ts
  config/path.ts
  config/webpack.config.ts
  config/webpackDevServerConfig.ts
  package.json
  scripts/build.ts
  src/index.d.ts
  yarn.lock
Due: eslint, prettier --ignore-unknown --write

feat: 使用单个webpack.config.ts
  .env.prod
  .env.test
  .eslintignore
  .gitignore
  config/webpack.config.ts
  package.json
  scripts/build.ts
  scripts/start.ts
  yarn.lock
Due: none

feat: 修改环境配置文件
  .env.dev
  .env.local
  .env.prod
  .env.test
  .env.uat
  config/env.ts
  src/index.d.ts
Due: eslint, prettier --ignore-unknown --write

perf(update version): update version
  .vscode/launch.json
  commitlint.config.js
  package.json
  src/pages/App.tsx
  yarn.lock
Due: eslint, prettier --ignore-unknown --write

feat: update package
  package.json
  yarn.lock
Due: none

feat: mainLayout
  .babelrc
  config/webpack.config.ts
  package.json
  scripts/build.ts
  scripts/start.ts
  src/hooks/index.tsx
  src/index.tsx
  src/layout/MainLayout.less
  src/layout/MainLayout.tsx
  src/layout/SideBar.less
  src/layout/SideBar.tsx
  src/layout/index.tsx
  src/pages/App.less
  src/pages/App.tsx
  src/pages/Auth/Role/index.tsx
  src/pages/Auth/User/index.tsx
  src/pages/Auth/index.tsx
  src/router/index.tsx
  tsconfig.json
  yarn.lock
Due: eslint, prettier --ignore-unknown --write, npx prettier --write

feat: 引入antd 升级package
  config/theme.ts
  config/webpack.config.ts
  package.json
  src/layout/FooterBar.tsx
  src/layout/MainLayout.tsx
  src/layout/SideBar.tsx
  src/pages/App.tsx
  src/pages/Auth/User/index.tsx
  src/pages/Login/index.less
  src/pages/Login/index.tsx
  tsconfig.json
  yarn.lock
Due: eslint, prettier --ignore-unknown --write, npx prettier --write

feat: 增加docker配置 axios封装
  .dockerignore
  .env.local
  Dockerfile
  nginx.conf
  package.json
  src/index.d.ts
  src/layout/FooterBar.tsx
  src/layout/HeaderBar.less
  src/layout/HeaderBar.tsx
  src/layout/MainLayout.tsx
  src/pages/Login/index.tsx
  src/pages/Login/service.ts
  src/utils/request.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier --ignore-unknown --write, npx prettier --write

feat: 升级package
  package.json
  src/hooks/useCommon.tsx
  src/pages/Home/index.tsx
  yarn.lock
Due: eslint, prettier --ignore-unknown --write

feat(custom): 升级package;添加请求配置
  .babelrc
  .eslintrc.js
  nginx.conf
  package.json
  src/layout/HeaderBar.tsx
  src/layout/MainLayout.less
  src/layout/MainLayout.tsx
  src/pages/App.tsx
  src/pages/Auth/User/index.tsx
  src/pages/Auth/User/service.ts
  src/pages/Home/User.tsx
  src/pages/Login/index.tsx
  src/pages/Login/service.ts
  src/utils/request.ts
  yarn.lock
Due: eslint, prettier --ignore-unknown --write, npx prettier --write

Path conditions:
  eslint: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --ignore-unknown --write: any of: src/**/*.{js,jsx,ts,tsx}
  npx prettier --write: any of: src/**/*.{css,less,scss}
